@import url('https://fonts.googleapis.com/css?family=Tangerine');

body {
  background-color: #FFF9FB;
  font-family: 'Tangerine', cursive;
}



div#title {
  text-align: center;
  font-size: 4em;
  margin-top: 2%;
}

p#title-text {
  margin: 0;
  font-size: 2em;
}

.nav {
  font-size: 2em;
  margin: auto;
}

.nav-item {
  float: left;
  display: inline-block;
  margin: auto;
}

.nav > a:hover {
  color: blue;
}

.nav > a {
  position: relative;
  color: #000;
  text-decoration: none;
}


.fading-divider { 
    display:block;
    border:none;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#FFF9FB));
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-left: 5%;
  margin-right: 5%;
}

div#card {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 100%;
  background-color: white;

  -moz-box-shadow:    3px 3px 5px 6px #000;
  -webkit-box-shadow: 3px 3px 5px 6px #000;
  box-shadow:         3px 3px 5px 6px #000;
}
