@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  background-color: #f7f3f3;
  margin: 0;
  background-image: url("/assets/white-wall.png");
  background-repeat: repeat;
}

.top-section {
  padding-top: 1%; 
  padding-bottom: 1%; 
  background-color: #fffdfb;
  border-bottom: 2px solid #f3eaea;
}

div#title > a {
  text-decoration: none;
}

p#title-text {
  color: #f7d0c6;
  margin: 0;
  font-size: 3.7em;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

#nav-selected > a { 
  color: #dbdbdb;
  text-decoration: underline;
}

.nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

p#title-text {
  color: #611212;
  margin: 0;
  font-size: 3.7em;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.nav-item {
  float: left;
  display: inline-block;
  margin: auto;
  padding-right: 30px;
}

.nav-item:last-child {
  padding-right: 0;
}


.nav-item > a {
  color: #96867f;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #b77e4d;
  text-decoration: underline;
}

.nav > a {
  position: relative;
  color: #000;
}

#nav-items {
  display: inline-block;
  margin: 0 auto;
}

.fading-divider { 
    display:block;
    border:none;
    height:1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#FFF9FB));
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 0% auto 2px auto;
}

hr#title-text-divider {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

hr.title-text-divider-2 {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: #d0c3b3;
  width: 20%;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.accommodations-container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding-top: 7%;
  text-align: center;
}

#sheraton-map-container {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

#sheraton-map-container > img {
  width: 90%;
}

p.hotel-address, p.hotel-phone {
  font-size: 1em;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #523c36;
  line-height: 1.5;
}

p.accommodations-text {
  font-weight: 400;
  font-size: 1.15em;
  margin-top: 3%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

p.accommodations-text-2 {
  font-weight: 400;
  font-size: 1.15em;
  margin-top: 4%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

p.accommodations-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 1%;
  color: #827662;
}

#hotel-info-container {
  border-left: 7px solid #c1938a;
  border-right: 7px solid #c1938a;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 3%;
  padding-bottom: 100px;

  background-color: #fffdfb;

  font-family: 'Crimson Text', sans-serif;
  color: #523c36;
}

#marquee-photo {
  display: inline-block;
}

.card > hr {
  margin-left: 16%;
  margin-right: 16%;
  border-color: #fff6e2;
}

#come-celebrate {
  font-size: 2em;
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  display: inline-block;
}

#come-celebrate > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}


.names {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: #c1938a;
}

.names > p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.names > p#names-and {
  font-family: 'Great Vibes';
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.3em;
}

#date {
  font-size: 1em;
  margin-top: 4%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#date > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#location {
  font-size: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#location > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#marquee-photo-container {
  padding-top: 10%;
  text-align: center;
}

#marquee-photo-container > img {
  width: 60%;
}

