@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');


body {
  background-color: #f7f3f3;
  margin: 0;
  background-image: url("/assets/white-wall.png");
  background-repeat: repeat;
}

.top-section {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #fdf7f4;
  box-shadow: 0 1px 10px #52070752;
  margin: auto;
}

div#title > a {
  text-decoration: none;
}

p#title-text {
  color: #611212;
  /* BLUSH color: #c1938a; */
  /* color: #284c30; */
  margin: 0;
  font-size: 3.7em;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

#nav-selected {
  color: #b17c7c;
  font-weight: bold;
}

#nav-selected > a {
  color: #b17c7c;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gray;
}

.nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#nav-items {
  display: inline-block;
  margin: 0 auto;
}

.nav-item {
  float: left;
  display: inline-block;
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item > a {
  color: #6a6556;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #b7b3b9;
  text-decoration: underline;
}

.fading-divider { 
    display:block;
    border:none;
    height:1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#FFF9FB));
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 0% auto 2px auto;
}

hr#title-text-divider {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

hr.title-text-divider-2 {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: #d0c3b3;
  width: 20%;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 100px;
  border-radius: 2px;

  background-color: #fffdfb;

  font-family: 'Crimson Text', serif;
  font-weight: 200;
  color: #6b5634;
  min-height: 50%;

  border: 15px double #e4c2b4;

  padding-top: 10%;

  text-align: center;

}

#marquee-photo {
  display: inline-block;
}

.card > hr {
  margin-left: 16%;
  margin-right: 16%;
  border-color: #fff6e2;
}

#more-to-come {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  display: inline-block;
}

#more-to-come > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#come-celebrate {
  font-size: 2em;
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  display: inline-block;
}

#come-celebrate > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}


.names {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: #c1938a;
}

.names > p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.names > p#names-and {
  font-family: 'Great Vibes';
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.3em;
}

#date {
  font-size: 1em;
  margin-top: 4%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#date > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#location {
  font-size: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#location > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#marquee-photo-container {
  padding-top: 5%;
  text-align: center;
}

#marquee-photo-container > img {
  width: 60%;
  border: 8px solid #fdf8f8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

#announcement-text-main {
  width: 100%;
  font-family: 'Josefin Sans';
  text-align: center;
  font-weight: bold;
  color: #965e5a;
}

#announcement-text-main-names {
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  font-size: 3.5em;
  /* text-shadow: 1px 1px #c7b6b6; */
}

#announcement-text-main-date, #announcement-text-main-location {
  font-family: 'Raleway';
  padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
  color: #96867f;
}

#announcement-text-main-date {
  margin-top: 35px;
}

#announcement-text-main-location {
  margin-top: 5px;
}

.questions {
  text-align: left;
}

.question {
  font-family: 'Crimson Text', serif;
  margin-left: 7.5%;
  margin-right: 7.5%;
  max-width: 60%;
  margin-bottom: 7.5%;
  padding-left: 20px;
  border-left: 7px solid #c1938a;
}

.question-title {
  margin: 0;
  font-size: 2.3em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.question-answer {
  font-weight: normal;
  color: #564439;
  font-size: 1.1em;
  text-align: left;
  width: 100%;
  
}

.photos {
  padding-top: 5%;
}

.photos-container {
  text-align: center;
}
 
.photos-container > img {
  width: 20%;
  min-width: 275px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;

  border: 4px solid #fdf8f8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

#main-page-about {
  padding-top: 5%;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.3em;
  margin-left: 7.5%;
  margin-right: 7.5%;
}


/* VISITING MEMPHIS */

.visiting-memphis-text-container {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#visiting-memphis-title {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 2.3em;
  margin: 0;
}

.visiting-memphis-text > p {
  font-size: 1.15em;
  line-height: 1.5;
  color: #564439;
  font-family: 'Crimson Text', serif;
}

.visitor-site-container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
}

.visitor-site-container > img {
  max-width: 50%;
}

.visitor-site-title {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 1.5em;
}

.visitor-site-title > a {
  text-decoration: none;
  color: #6b5634;
}

.visitor-site-location {
  font-size: 1em;
  line-height: 1.4;
  color: #523c36;
  font-family: 'Josefin Sans', serif;
}

.visitor-site-divider {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.visitor-site-divider > img {
  width: 75px;
}

.card-divider-bottom {
  padding-top: 5%;
}

.card-divider-bottom > img {
  width: 60%
}

/* EVENTS */

.events {
  margin: auto;
}

.event {
  margin-bottom: 50px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  max-width: 60%;
  border-left: 7px solid #c1938a;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.event > p {
  margin: 0;
  padding: 0;
}

p.event-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  padding-bottom: 20px;
}

p.event-location, p.event-date, p.event-address, p.event-attire, p.event-hosts {
  font-size: 1em;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #523c36;
  font-family: 'Josefin Sans', serif;
}

p.event-notes {
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 1.15em;
  font-family: 'Crimson Text', serif;
  color: #523c36;
  line-height: 1.5;
}

#event-intro-text {
  padding-top: 0;
  margin-top: 0;
  font-size: 2em;
  font-family: 'Crimson Text';
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 7.5%; 
  text-align: center;
  color: #965e5a;
  font-weight: bold;
}

/* ACCOMMODATIONS */

.accommodations-container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
}

#sheraton-map-container {
  text-align: center;
  padding-top: 3%; 
  padding-bottom: 3%; 
}

#sheraton-map-container > img {
  min-width: 40%;
  max-width: 60%;
}

p.hotel-address, p.hotel-phone {
  font-size: 1em;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #523c36;
  line-height: 1.5;
}

p.accommodations-text {
  font-weight: 400;
  font-size: 1.15em;
  margin-top: 5%; 
  margin-left: 7.5%;
  margin-right: 7.5%;
}

p.accommodations-text-2 {
  font-weight: 400;
  font-size: 1.15em;
  margin-top: 4%; 
  margin-left: 7.5%;
  margin-right: 7.5%;
}

p.accommodations-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 1%; 
  color: #6b5634;
}

#hotel-info-container {
  border-left: 7px solid #c1938a;
  border-right: 7px solid #c1938a;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}


/* REGISTRY */

#card-registry-text {
  font-family: 'Crimson Text', serif;
  color: #523c36;
  font-size: 1.3em;
  line-height: 1.5;
}

#card-registry {
  margin-left: 7.5%;
  margin-right: 7.5%;
  text-align: center;
}

#zola-registry-container {
  padding-top: 2%;
}
