@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body {
//  background-image: linear-gradient(#d8d3b44f, #FFF9E6);
  background-color: #f1ebe8
  font-family: 'Great Vibes', cursive;
}

div#title {
  text-align: center;
  font-size: 4em;
  margin-top: 2%;
}

p#title-text {
  color: #67655b;
  text-shadow: 2px 2px rgba(148, 141, 126, 0.6);
  margin: 0;
  font-size: 2em;
}

.nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.nav-item {
  float: left;
  display: inline-block;
  margin: auto;
  color: #715655;
  padding-right: 75px;
}

.nav-item:last-child {
  padding-right: 0;
}


.nav-item > a {
  color: #584a43;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #b77e4d;
  text-decoration: underline;
}

.nav > a:hover {
  text-decoration: underline;
  color: blue;
}

.nav > a {
  position: relative;
  color: #000;
}

#nav-items {
  display: inline-block;
  margin: 0 auto;
}

.fading-divider { 
    display:block;
    border:none;
    height:1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#FFF9FB));
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 0% auto 2px auto;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card {
  margin: auto;
  margin-top: 5%;
  width: 70%;
  height: 100%;
  border-radius: 10px;


  // ANIMATION 
  // animation-name: example;
  // animation-duration: 2s;
  // -webkit-animation-name: example;
  // -webkit-animation-duration: example;


  background-color: #fffef3;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #827662;


  // -moz-box-shadow:    3px 3px 5px 6px #000;
  // -webkit-box-shadow: 3px 3px 5px 6px #000;
  // box-shadow:         3px 3px 5px 6px #000;
}

.card > * {
  // animation-name: example;
  // animation-duration: 1s;
  // -webkit-animation-name: example;
  // -webkit-animation-duration: example;
}


.card > hr {
  margin-left: 16%;
  margin-right: 16%;
  border-color: #fff6e2;
}

#come-celebrate {
  font-size: 30px;
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: inline-block;
}

#come-celebrate > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}


.names {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Great Vibes';
  color: #8e3a2b;
}

.names > p {
  font-size: 3.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.names > p#names-and {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.3em;
}

#date {
  font-size: 18px;
  font-weight: 300;
  margin-top: 80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#date > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

#location {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#location > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
}

