@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
  background-color: #f7f3f3;
  margin: 0;
  background-image: url("/assets/white-wall.png");
  background-repeat: repeat;
}

.top-section {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #380303;
  border-bottom: 2px solid #f3eaea;
}

div#title {
}

p#title-text {
  color: #f7d0c6;
  margin: 0;
  font-size: 3.7em;
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

#nav-selected > a {
  color: #dbdbdb;
  text-decoration: underline;
}

.nav {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.nav-item {
  float: left;
  display: inline-block;
  margin: auto;
  padding-right: 30px;
}

.nav-item:last-child {
  padding-right: 0;
}


.nav-item > a {
  color: #96867f;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #b77e4d;
  text-decoration: underline;
}

#nav-items {
  display: inline-block;
  margin: 0 auto;
}

#nav-selected {
}

.fading-divider { 
    display:block;
    border:none;
    height:1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#000), to(#FFF9FB));
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 0% auto 2px auto;
}

hr#title-text-divider {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 20%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

hr.title-text-divider-2 {
  display: inline-block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: #d0c3b3;
  width: 20%;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-bottom: 100px;

  background-color: #fffdfb;

  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #827662;
}

.events {
  margin: 0;
  padding-top: 10%;
}

.event {
  margin-bottom: 50px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  max-width: 60%;
  border-left: 7px solid #c1938a;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event > p {
  margin: 0;
  padding: 0;
}

p.event-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  padding-bottom: 20px;
}

p.event-location, p.event-date, p.event-address, p.event-attire {
  font-size: 1em;
  padding-bottom: 5px;
  padding-left: 20px;
  color: #523c36;
  font-family: 'Josefin Sans', serif;
}

p.event-notes {
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 1.15em;
  font-family: 'Crimson Text', serif;
  color: #523c36;
  line-height: 1.5;
}

.card > hr {
  margin-left: 16%;
  margin-right: 16%;
  border-color: #fff6e2;
}
