<html lang="en">
<head>
<link rel="stylesheet" href="/css/accommodations-style.css">
</head>
<body>


  <div class="top-section">  

    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>

  </div>
  <div class="card">
    <div class="card-content">
      <div class="accommodations-container">

        <div id="hotel-info-container">
          <p class="accommodations-title">The Sheraton Memphis Downtown Hotel</p>
          <p class="hotel-address">250 N. Main Street</p>
          <p class="hotel-address">Memphis, TN 38103</p>
          <p class="hotel-phone">901-527-7300</p>
        </div>

        <p class="accommodations-text">

            We've reserved a block of rooms at a special rate at the Sheraton Memphis Downtown Hotel. Please mention the Newman-Kapp wedding when you reserve and use the code NKW to get the discounted rate.
            There are a limited number of rooms and they are on a first come, first serve basis.
            <br><br>
            To reserve a room, feel free to call the hotel directly or click <a href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1547488047667&key=GRP&app=resvlink">this link</a> to be
            taken to an online reservation portal.
        </p>

        <div id="sheraton-map-container">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=Sheraton+Memphis+Downtown+Hotel&zoom=13&size=800x400&maptype=roadmap&markers=color:red%7C35.151350,-90.050450&key=AIzaSyC9IPpB_LYNDAG22vH7xN2gy6bA9XLePQE"></img>
        </div>



        <p class="accommodations-text-2">If you prefer to stay elsewhere, there are lots of hotel and Airbnb options. We recommend staying in Midtown or Downtown to be close to all of the events, but
        please feel free to stay wherever you feel most comfortable.
        <br><br>
        We will be providing transportation between the Sheraton and both the rehearsal dinner and the wedding.
        </p>

      </div>
    </div>
  </div>
</body>
</html>
