<html lang="en">
<title>
</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="/css/base-style-cree.css">

    <script type="text/javascript">
      function initMap() {

	var broadway = {
		info: '<strong>Loflin Yard</strong><br>\
					7 W. Carolina Ave<br>Memphis, TN 38103<br>\
					<a href="https://goo.gl/maps/sFqMZE5Qn8v">Get Directions</a>',
		lat: 35.135520, 
		long: -90.037690
	};

	var belmont = {
		info: '<strong>The Metal Museum</strong><br>\
					374 Metal Museum Dr<br>Memphis, TN 38106<br>\
					<a href="https://goo.gl/maps/rBpijMgBjVE2">Get Directions</a>',
		lat: 35.125330,
		long: -90.072330
	};

	var sheridan = {
		info: '<strong>Paula and Raiford\'s Disco</strong><br>\r\
					14 S. Second Street<br>Memphis, TN 38103<br>\
					<a href="https://goo.gl/maps/7kj4dm9vEXm">Get Directions</a>',
		lat: 35.144420,
		long: -90.051420
	};

	var locations = [
      [broadway.info, broadway.lat, broadway.long, 0],
      [belmont.info, belmont.lat, belmont.long, 1],
      [sheridan.info, sheridan.lat, sheridan.long, 2],
    ];

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 13,
		center: new google.maps.LatLng(35.142721, -90.051223),
	});

	var infowindow = new google.maps.InfoWindow({});

	var marker, i;

	for (i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
			map: map
		});

		google.maps.event.addListener(marker, 'click', (function (marker, i) {
			return function () {
				infowindow.setContent(locations[i][0]);
				infowindow.open(map, marker);
			}
		})(marker, i));
	}
    }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLvXnt4_nmbPsEM-ghIwDRTX0-7ImpLak&callback=initMap"></script>

</head>
<body>

 
  <div class="top-section"> 
    <div id="base-body">
    </div>
    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item" id="nav-selected"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>


    </div>


  </div>


  <div class="card">
    


    <div id="map"></div>
  
    <img class="floral-frame-top" src="/assets/floral-frame-top.png" />
    <img class="floral-frame-bottom" src="/assets/floral-frame-bottom.png" />
    <img class="flower1" src="/assets/flower1.png" />
    <img class="flower2" src="/assets/flower2.png" />
    <img class="flower3" src="/assets/flower3.png" />
    <img class="flower4" src="/assets/flower4.png" />

  
  </div>

</body>
</html>
