<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style-cree.css">


<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
  setTimeout(function() {
    document.getElementById('card').className = 'slideDown';
  }, 250);
}, false);

</script>

</head>
<body>

 
  <div class="top-section"> 
    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item" id="nav-selected"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>


    </div>


  </div>


  <div class="card">

  </div>

</body>
</html>
