<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

  
  <div id="title">
    <p id="title-text">Allison & Louis</p>
  </div>
  <div class="nav">
    <hr class="title-text-divider-2">
    <div id="nav-items">
      <div class="nav-item"><a href='/'>Home</a></div>
      <div class="nav-item"><a href='/events'>Events</a></div>
      <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
      <div class="nav-item"><a href='/photos'>Photos</a></div>
      <div class="nav-item"><a href='/registry'>Registry</a></div>
    </div>
    <hr class="title-text-divider-2">
  </div>
  <div class="card">
    <div>
      <p>More to come...<p>

      <div>

      Rehearsal Dinner
      October 11th, 2019, Time TBD (likely 7:00pm)
      Loflin Yard
      7 W. Carolina Ave, Memphis, TN 38103
      
      Attire: Dressy Casual 
      </div>
     
      <div> 

      Wedding + Reception 
      October 12th, 2019, 5:30pm
      The Ornamental Metal Museum
      374 Metal Museum Dr, Memphis, TN 38106
      
      Attire: Cocktail 
      
      We will be having an unplugged ceremony at our wedding. While we fully encourage everyone to bring their phones, cameras, and other devices to document the celebration, we politely request that all devices be turned off during the ceremony. Please feel free to bring out those devices after the conclusion of the ceremony. 
      
      </div> 
      <div> 

      After Party
      Paula and Raiford’s Disco
      14 S. Second Street
      
      Attire: Party Pants  
      
      </div> 
      <div> 

      Sunday Brunch
      October 13th, 2019, 10:00am
      The Sheraton Hotel? 
      
      Attire: Casual 

      </div> 
    </div>
  </div>
</body>
</html>
