<html lang="en">
<head>
<link rel="stylesheet" href="/css/events-style.css">
</head>
<body>

  <div class="top-section"> 
    <div id="title">
      <p id="title-text">Allison & Louis</p>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item" id="nav-selected"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="events">

      <p id="event-intro-text">Out of town guests are invited to all of the weekend festivities.</p>
      <div class="event">
        <p class="event-title">Rehearsal Dinner</p>
        <p class="event-date">October 11th, 2019, Time TBD (likely 7:00pm)</p>
        <p class="event-location">Loflin Yard</p>
        <p class="event-address">7 W. Carolina Ave, Memphis, TN 38103</p>
        <p class="event-attire">Attire: Dressy Casual</p>
        <p class="event-notes">After we wrap up dinner, we will head over to Beale Street to continue the fun.</p>
      </div>
     
      <div class="event"> 
        <p class="event-title">Wedding + Reception</p>
        <p class="event-date">October 12th, 2019, 5:30pm</p>
        <p class="event-location">The Ornamental Metal Museum</p>
        <p class="event-address">374 Metal Museum Dr, Memphis, TN 38106</p>
        <p class="event-attire">Attire: Cocktail</p>
        <p class="event-notes">We will be having an unplugged ceremony at our wedding. While we fully encourage everyone to bring their phones, cameras, and other devices to document the celebration, we politely request that all devices be turned off during the ceremony. Please feel free to bring out those devices after the conclusion of the ceremony.</p>
      </div> 

      <div class="event"> 
        <p class="event-title">After Party
        <p class="event-location">Paula and Raiford's Disco</p>
        <p class="event-address">14 S. Second Street</p>
        <p class="event-attire">Attire: Party Pants</p>
      </div> 

      <div class="event"> 
        <p class="event-title">Sunday Brunch</p>
        <p class="event-date">October 13th, 2019, 10:00am</p>
        <p class="event-location">The Sheraton Hotel?</p>
        <p class="event-attire">Attire: Casual</p>
      </div> 

    </div>
  </div>
</body>
</html>
