<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>


  <div class="top-section">  
    <div id="title">
      <a href="/"><p id="title-text">Allison and Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item" id="nav-selected"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="floral-frame-top" src="/assets/floral-frame-top.png" />
    <img class="floral-frame-bottom" src="/assets/floral-frame-bottom.png" />
    <img class="flower1" src="/assets/flower1.png" />
    <img class="flower2" src="/assets/flower2.png" />
    <img class="flower3" src="/assets/flower3.png" />
    <img class="flower4" src="/assets/flower4.png" />
    <div class="questions">
      <div class="question">
        <p class="question-title">
          Are kids invited?
        </p>
        <p class="question-answer">
We prefer our wedding to be your night off! If you are not able to arrange for childcare, please let us know and we will assist you. We request no children under the age of 5 during the ceremony.
        </p>
      </div>

      <div class="question">
        <p class="question-title">
How do I get to and from the events?
        </p>
        <p class="question-answer">
We will provide a shuttle to and from the Sheraton to both the rehearsal dinner and the wedding. We will also provide a shuttle to the after party on the way back to the Sheraton after the wedding. 
<br><br>
You should feel free to bring your own transportation if you prefer. 

        </p>
      </div>

      <div class="question">
        <p class="question-title">
Will parking be available?
        </p>
        <p class="question-answer">
Free street parking is available near Loflin Yard for the rehearsal dinner and along Metal Museum Drive for the wedding.
        </p>
      </div>

      <div class="question">
        <p class="question-title">
Can I bring a date?
        </p>
        <p class="question-answer">
If your invitation says “and Guest,” then yes. If not, we would prefer if it was just you. If you have been in a long term relationship that we were unaware of, please let us know.
        </p>
      </div>

    </div>

    <div class="card-divider-bottom">
      <img src="/assets/horizontal-divider-fancy-top.png" />
    </div>
  </div>

</body>
</html>
