<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

  
  <div id="title">
    <p id="title-text">Allison & Louis</p>
    <div class="fading-divider"></div>
  </div>
  <div class="nav">
    <a href="./details.html"><div class="nav-item">Home</div></a>
    <a href="./details.html"><div class="nav-item">Events</div></a>
    <a href="./photos.html"><div class="nav-item">Accommodations</div></a>
    <a href="./inquiries.html"><div class="nav-item">Photos</div></a>
    <a href="./inquiries.html"><div class="nav-item">Registry</div></a>
  </div>
  <div class="card">
    <div id="come-celebrate">
      <p>Come celebrate the wedding of<p>
    </div>
    <div id="names">
      <p>Allison Newman</p>
      <p>and</p>
      <p>Louis Kapp</p>
    </div>
    <div id="date">
      <p>Saturday, October 12th, 2019<p>
    </div>
    <div id="location">
      <p>Memphis, TN<p>
    </div>
  </div>

</body>
</html>
