<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

  
  <div id="title">
    <p id="title-text">Allison & Louis</p>
    <div class="fading-divider"></div>
    <hr>
  </div>
  <div class="nav">
    <div id="nav-items">
      <div class="nav-item"><a href='./index.html'>Home</a></div>
      <div class="nav-item"><a href='./index.html'>Events</a></div>
      <div class="nav-item"><a href='./index.html'>Accommodations</a></div>
      <div class="nav-item"><a href='./index.html'>Photos</a></div>
      <div class="nav-item"><a href='./index.html'>Registry</a></div>
    </div>
  </div>
  <div class="card">
    <div id="come-celebrate">
      <p>Come celebrate the wedding of<p>
    </div>
    <hr>
    <hr>
    <div class="names">
      <p>Allison Newman</p>
      <p id="names-and">&mdash;&amp;&mdash;</p>
      <p>Louis Kapp</p>
    </div>
    <hr>
    <hr>
    <div id="date">
      <p>Friday, October 11, 2019 &mdash; Sunday, October 13, 2019<p>
    </div>
    <div id="location">
      <p>Memphis, TN<p>
    </div>
  </div>

</body>
</html>
