<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

 
  <div class="top-section"> 
    <div id="title">
      <p id="title-text">Allison & Louis</p>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item" id="nav-selected"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
      </div>
    </div>
  </div>


  <div class="card">
    
    <div id="announcement-text-main">
      <p id="announcement-text-main-names">Allison and Louis are getting married!</p>
      <p id="announcement-text-main-date">October 12th, Memphis, TN</p>

    </div>

    <div id="marquee-photo-container">
      <img src="/assets/marquee-photo.jpg"></img> 
    </div>

    <div id="come-celebrate">
      <p>Come celebrate the wedding of<p>
    </div>
    <hr>
    <hr>
    <div class="names">
      <p>Allison Newman</p>
      <p id="names-and">&mdash;&amp;&mdash;</p>
      <p>Louis Kapp</p>
    </div>
    <hr>
    <hr>
    <div id="date">
      <p>Saturday</p>
      <p>October 12, 2019</p>
    </div>
    <div id="location">
      <p>Memphis, TN</p>
    </div>
  </div>

</body>
</html>
