<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

 
  <div class="top-section"> 
    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item" id="nav-selected"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>


  <div class="card">
    
    <div id="announcement-text-main">
      <p id="announcement-text-main-names">Allison and Louis are getting married!</p>
      <p id="announcement-text-main-date">October 12th, 2019</p>
      <p id="announcement-text-main-location">Memphis, TN</p>

    </div>

    <div id="marquee-photo-container">
      <img src="/assets/marquee-photo.jpg"></img> 
    </div>

    <div id="main-page-about">
      <p>Welcome to our wedding website. We’re so glad you’re here. We’ve created this website as a helpful resource, so please take a look around. If you have any questions, feel free to reach out to us directly at any time.</p>
    </div>

  </div>

</body>
</html>
