<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

  
  <div id="title">
    <p id="title-text">Allison & Louis</p>
  </div>
  <div class="nav">
    <hr class="title-text-divider-2">
    <div id="nav-items">
      <div class="nav-item"><a href='/'>Home</a></div>
      <div class="nav-item"><a href='/events'>Events</a></div>
      <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
      <div class="nav-item"><a href='/photos'>Photos</a></div>
      <div class="nav-item"><a href='/registry'>Registry</a></div>
    </div>
    <hr class="title-text-divider-2">
  </div>
  <div class="card">
    <div id="come-celebrate">
      <p>Come celebrate the wedding of<p>
    </div>
    <hr>
    <hr>
    <div class="names">
      <p>Allison Newman</p>
      <p id="names-and">&mdash;&amp;&mdash;</p>
      <p>Louis Kapp</p>
    </div>
    <hr>
    <hr>
    <div id="date">
      <p>Friday, October 11, 2019 &mdash; Sunday, October 13, 2019<p>
    </div>
    <div id="location">
      <p>Memphis, TN<p>
    </div>
    <div id="wedding-image">
      <img src="/assets/wedding-image-photo.jpg"></img>
    </div>
  </div>

</body>
</html>
