<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>

 
  <div class="top-section"> 
    <div id="title">
      <a href="/"><p id="title-text">Allison and Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item" id="nav-selected"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>


  <div class="card">
    <img class="floral-frame-top" src="/assets/floral-frame-top.png" />
    <img class="floral-frame-bottom" src="/assets/floral-frame-bottom.png" />
    <img class="flower1" src="/assets/flower1.png" />
    <img class="flower2" src="/assets/flower2.png" />
    <img class="flower3" src="/assets/flower3.png" />
    <img class="flower4" src="/assets/flower4.png" />
    
    <div id="announcement-text-main">
      <p id="announcement-text-main-allison">Allison Newman</p>
      <p id="announcement-text-main-and" class="announcement-text-main-names">&mdash;&amp;&mdash;</p>
      <p id="announcement-text-main-louis">Louis Kapp</p>
      <p id="announcement-text-main-date">October 12th, 2019</p>
      <p id="announcement-text-main-location">Memphis, TN</p>

    </div>

    <div id="marquee-photo-container">
      <img src="/assets/marquee-photo.jpg"></img> 
    </div>

    <div id="main-page-about">
      <p>Welcome to our wedding website &mdash; we're so glad you're here! Please take a look around and don't hesitate to reach out to us directly
         if you have any questions. We can't wait to celebrate with you.</p>

      <p class="love-signature">Love,</p>

      <p class="love-signature">Allison and Louis</p>
    </div>

    <div class="card-divider-bottom">
      <img src="/assets/horizontal-divider-fancy-top.png" />
    </div>
    <div class="made-by">~Made by Scott Newman~</div>

  </div>

</body>
</html>
