<html lang="en">
<head>


<script type="text/javascript" src="/jquery-3.3.1.min.js"></script>


<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>


  <div class="top-section">  
    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item" id="nav-selected"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="photos"> 
    <div class="photos-container"> 
      <img src="/assets/wedding-photos/1.jpg"></img>
      <img src="/assets/wedding-photos/2.jpg"></img>
      <img src="/assets/wedding-photos/3.jpg"></img>
      <img src="/assets/wedding-photos/4.jpg"></img>
      <img src="/assets/wedding-photos/5.jpg"></img>
      <img src="/assets/wedding-photos/6.jpg"></img>
      <img src="/assets/wedding-photos/7.jpg"></img>
      <img src="/assets/wedding-photos/8.jpg"></img>
      <img src="/assets/wedding-photos/9.jpg"></img>
      <img src="/assets/wedding-photos/10.jpg"></img>
      <img src="/assets/wedding-photos/11.jpg"></img>
      <img src="/assets/wedding-photos/12.jpg"></img>
      <img src="/assets/wedding-photos/13.jpg"></img>
      <img src="/assets/wedding-photos/14.jpg"></img>
      <img src="/assets/wedding-photos/15.jpg"></img>
      <img src="/assets/wedding-photos/16.jpg"></img>
      <img src="/assets/wedding-photos/17.jpg"></img>
      <img src="/assets/wedding-photos/18.jpg"></img>
      <img src="/assets/wedding-photos/19.jpg"></img>
      <img src="/assets/wedding-photos/20.jpg"></img>
      <img src="/assets/wedding-photos/21.jpg"></img>
      <img src="/assets/wedding-photos/22.jpg"></img>
      <img src="/assets/wedding-photos/23.jpg"></img>
      <img src="/assets/wedding-photos/24.jpg"></img>
      <img src="/assets/wedding-photos/25.jpg"></img>
    </div>

    <div class="card-divider-bottom">
      <img src="/assets/horizontal-divider-fancy-top.png" />
    </div>
  </div>

</body>
</html>
