<html lang="en">
<head>
<link rel="stylesheet" href="/css/registry.css">
</head>
<body>

 
  <div class="top-section"> 
    <div id="title">
      <p id="title-text">Allison & Louis</p>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div id="card-registry">
    <div id="card-registry-text">
      <p>

We very sincerely consider your presence at our wedding a gift in itself, but if you do wish to get us something, a contribution towards our African safari honeymoon fund and/or first home down payment fund would be very much appreciated. Because we have been living together for many years, we have accumulated an apartment filled with stuff and request no physical gifts. We are so grateful for any contribution towards helping our goals come to fruition.

      </p>
    </div>
      <div id="zola-registry-container">
        <a class="zola-registry-embed" href="zola.com/registry/louisandallison" data-registry-key="louisandallison"></a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
      </div>
    </div>

</body>
</html>
