<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>


  <div class="top-section">  
    <div id="title">
      <a href="/"><p id="title-text">Allison and Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item" id="nav-selected"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="visiting-memphis-text-container">
      <p id="visiting-memphis-title">Visiting Memphis</p>
      <div class="visiting-memphis-text">

        <p>
Memphis is known for its rich history and culture. From its heritage in blues, soul, and rock and roll to championing the civil rights movement, you will certainly have the opportunity to enjoy some unique experiences.<br><br>
The city has so much to offer. We are incorporating some of our favorite locations and local cuisine into the weekend, but also wanted to share additional fun things to do and see during your free time here.<br><br>
        </p>

      </div>

    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.civilrightsmuseum.org/">National Civil Rights Museum</a></p>
      <img src="/assets/visiting-memphis-photos/civil-rights-museum.jpg"></img>
      <p class="visitor-site-location">450 Mulberry St<br>Memphis, TN 38103</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.staxrecords.com/">Stax Records</a></p>
      <img src="/assets/visiting-memphis-photos/stax-records.jpg"></img>
      <p class="visitor-site-location">926 E McLemore Ave<br>Memphis, TN 38126</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="http://www.bigrivercrossing.com/">Big River Crossing</a></p>
      <img src="/assets/visiting-memphis-photos/big-river-crossing.jpg"></img>
      <p class="visitor-site-location">Big River Crossing<br>Memphis, TN 38103</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.gosouthmain.com/">S. Main Arts District</a></p>
      <img src="/assets/visiting-memphis-photos/south-main-arts-district.jpg"></img>
      <p class="visitor-site-location">540 S Main St<br>Memphis, TN 38103</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="http://www.bealestreet.com/">Beale Street</a></p>
      <img src="/assets/visiting-memphis-photos/beale-street.jpg"></img>
      <p class="visitor-site-location">183 Beale St<br>Memphis, TN 38103</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.peabodymemphis.com/ducks-en.html">The Peabody Duck Walk</a></p>
      <img src="/assets/visiting-memphis-photos/peabody-hotel.jpg"></img>
      <p class="visitor-site-location">149 Union Ave<br>Memphis, TN 38103</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.graceland.com/">Graceland</a></p>
      <img src="/assets/visiting-memphis-photos/graceland.jpg"></img>
      <p class="visitor-site-location">3765 Elvis Presley Blvd<br>Memphis, TN 38116</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.sunstudio.com/">Sun Studio</a></p>
      <img src="/assets/visiting-memphis-photos/sun-studio.jpg"></img>
      <p class="visitor-site-location">706 Union Ave<br>Memphis, TN 38103</p>
    </div>


    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://www.big-cypress.com/dining/the-lookout-at-the-pyramid-en.html">The Lookout at the Pyramid</a></p>
      <img src="/assets/visiting-memphis-photos/pyramid-lookout.jpg"></img>
      <p class="visitor-site-location">1 Bass Pro Dr<br>Memphis, TN 38105</p>
    </div>

    <div class="visitor-site-divider">
      <img src="/assets/small-divider-fancy.png" />
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title"><a href="https://blues.org/hall-of-fame-museum/">Blues Hall of Fame</a></p>
      <img src="/assets/visiting-memphis-photos/blues-hall-of-fame.jpg"></img>
      <p class="visitor-site-location">421 S Main St<br>Memphis, TN 38103</p>
    </div>

    <div class="card-divider-bottom">
      <img src="/assets/horizontal-divider-fancy-top.png" />
    </div>

  </div>

</body>
</html>
