<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>


  <div class="top-section">  
    <div id="title">
      <a href="/"><p id="title-text">Allison & Louis</p></a>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
        <div class="nav-item"><a href='/visiting-memphis'>Visiting Memphis</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="visiting-memphis-text-container">
      <p id="visiting-memphis-title">Visiting Memphis</p>
      <div class="visiting-memphis-text">

        <p>
Memphis is known for its rich history and culture. From its heritage rich in blues, soul and rock ’n’ roll to championing the civil rights movement, you will certainly have the opportunity to enjoy some unique experiences.<br><br>
The city has so much to offer. We are incorporating some of our favorite locations and local cuisine into the weekend, but also wanted to share additional fun things to do and see during your time here.<br><br>
        </p>

      </div>

    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title">National Civil Rights Museum</p>
      <img src="/assets/visiting-memphis-photos/civil-rights-museum.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Stax Records</p>
      <img src="/assets/visiting-memphis-photos/stax-records.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Big River Crossing</p>
      <img src="/assets/visiting-memphis-photos/big-river-crossing.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">S. Main Arts District</p>
      <img src="/assets/visiting-memphis-photos/south-main-arts-district.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Beale Street</p>
      <img src="/assets/visiting-memphis-photos/beale-street.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">The Peabody</p>
      <img src="/assets/visiting-memphis-photos/peabody-hotel.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Graceland</p>
      <img src="/assets/visiting-memphis-photos/graceland.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Sun Studio</p>
      <img src="/assets/visiting-memphis-photos/sun-studio.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Lafayette Music Room</p>
      <img src="/assets/visiting-memphis-photos/lafayette-music-room.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">The Lookout at the Pyramid</p>
      <img src="/assets/visiting-memphis-photos/pyramid-lookout.jpg"></img>
      <p class="visitor-site-location"></p>
    </div>
  </div>

</body>
</html>
