<html lang="en">
<head>
<link rel="stylesheet" href="/css/base-style.css">
</head>
<body>


  <div class="top-section">  
    <div id="title">
      <p id="title-text">Allison & Louis</p>
    </div>
    <div class="nav">
      <div id="nav-items">
        <div class="nav-item"><a href='/'>Home</a></div>
        <div class="nav-item"><a href='/events'>Events</a></div>
        <div class="nav-item"><a href='/accommodations'>Accommodations</a></div>
        <div class="nav-item"><a href='/photos'>Photos</a></div>
        <div class="nav-item"><a href='/registry'>Registry</a></div>
        <div class="nav-item"><a href='/faq'>FAQ</a></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="visiting-memphis-text-container">
      <p id="visiting-memphis-title">Visiting Memphis</p>
      <div class="visiting-memphis-text">

        <p>
Memphis is known for its rich history and culture. From its heritage rich in blues, soul and rock ’n’ roll to championing the civil rights movement, you will certainly have the opportunity to enjoy some unique experiences. Southern hospitality means you are always greeted with a warm smile and a friendly welcome. Memphis is always trying to bring people together, inviting them to share their diverse perspectives and passions.<br><br>

An iconic bridge unafraid to stand up to the Mighty Mississippi, a pyramid rising high above its urban surroundings, a kingdom fit for a King, and a palace made just for ducks. These are just a few of the one of a kind landmarks that you’ll find in Memphis.<br><br>

The city has so much to offer. We are incorporating some of our favorite locations and local cuisine into the weekend, but also wanted to share additional fun things to do and see during your time here.<br><br>
        </p>

      </div>

    </div>


    <div class="visitor-site-container">
      <p class="visitor-site-title">National Civil Rights Museum</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Stax Records</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Big River Crossing</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">S. Main Arts District</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">Beale Street</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>

    <div class="visitor-site-container">
      <p class="visitor-site-title">The Peabody</p>
      <img></img>
      <p class="visitor-site-location"></p>
    </div>
  </div>

</body>
</html>
